body{
  background-image: url('back4.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  *{box-sizing: border-box;}
}
.btn1 {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;

      border-radius: 40px;
}

.btn1:hover {opacity: 1}
.btn2 {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  padding-left: 41px;
      padding-right: 41px;
      text-align: center;
  border-radius: 40px;
}

.btn2:hover {opacity: 1}
.menu {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}





input[type=text], input[type=password], input[type=email]{
  width: 97%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: "Andalus";
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;

}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f1f1f1;
  font-size: 15px;
}
.signupbtn, .loginbtn{
  padding: 14px 20px;
  background-color: #ff5c61;
  font-size: 15px;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn, .loginbtn {
  float: left;
  width: 50%;
  font-family: "Andalus";
}

/* Add padding to container elements */
.container {
  padding: 16px;
      width: 623px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
div#formHeader{
  background-color: #ff5c61;
  padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
}
h2 #googleLogin{
  font-family: "Andalus";
  text-align: center;
}

div#id01, #id02{
  font-family: "Andalus";
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
